body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 216, 255);
}

.btn-group {
  display: flex;
  gap: 40px;
}

.btn {
  padding: 15px 30px;
  font-family: sans-serif;
  border-radius: 12px;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(13, 61, 109);
  transition: all ease-in-out 200ms;
  text-decoration: none;
}

.btn:hover {
  transform: translate(10px, 10px);
  box-shadow: 0px 0px 0px rgb(77, 166, 255);
}

.btn-danger {
  color: white;
  background-color: rgb(208, 3, 3);
}
